@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400,700&family=Open+Sans:wght@400;600&display=swap');

* { 
  margin: 0;
  padding: 0;
}

@media (max-width: 1000px) {
  body {
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 10px;
  }

  main {
    top: 50% !important;
    width: 70% !important;
  }
}

body {
  font-family: 'Lato', sans-serif;
}

main {
  padding: 10%;
  height: 100%;
  font-size: 7em;
}

.profile {
  display: flex;
  flex-flow: column;
  gap: 1em;
}

.profile > h1 {
  font-weight: 400;
  font-size: 1em;
}

.profile-links {
  list-style: none;
  font-size: 0.66em;
}

.profile-name {
  color: blue;
}

.profile-selector {
  height: 100%;
}

.name-list {
  overflow-y: scroll;
  height: 600px; 
  scrollbar-width: none;  /* Firefox */
  scroll-snap-type: y mandatory;
}

.name-list::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.selector-item {
  scroll-snap-align: start;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: blue;
}
